.form {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 115px;
    grid-auto-flow: column;
    grid-gap: 10px;
    padding: 20px;
    margin-top: 3px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px;
    }
}

.form__newTask {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #ececec;
}

@media (max-width: 767px) {
    .form__newTask {
        margin-right: 0;
    }
}

.form__newTask::placeholder {
    color: #bdbdbd;
}

.form__button {
    font-family: 'Lato', sans-serif;
    background-color: #008080;
    color: #eee;
    border: none;
    transition: background-color 1s, transform 1s;
    cursor: pointer;
}

.form__button:hover {
    background-color: #038b8b;
    transform: scale(1.1);
}

.form__button:active {
    background-color: #06a1a1;
}

@media (max-width: 767px) {
    .form__button {
        flex-grow: 1;
    }
}