.tasks {
    min-height: 50px;
    background-color: #fff;
    margin-top: 3px;
    padding: 20px;
}

.tasks__item {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    border-bottom: 2px solid #ececec;
    align-items: center;
}

.tasks__item--done {
    text-decoration: line-through;
}

.tasks__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.tasks__button {
    height: 31px;
    width: 31px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tasks__button:active {
    outline: auto;
    outline-color: #000;
}

.tasks__button--done {
    background-color: #048004;
}

.tasks__button--done:hover {
    background-color: #0b9b0b;
    transition: background-color 1s;
}

.tasks__button--done:active {
    background-color: #0da50d;
}

.tasks__button--disabled {
    visibility: hidden;
}

.tasks__button--remove {
    background-color: #ec1f30;
}

.tasks__button--remove:hover {
    background-color: #f84150;
    transition: background-color 1s;
}

.tasks__button--remove:active {
    background-color: #ff4f5d;
}

.tasks__hidden {
    display: none;
}