.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
    background-color: #fff;
}

@media (max-width: 767px) {
    .buttons {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding-top: 0;
        padding-bottom: 20px;
    }
}

.buttons__button {
    background: none;
    border: none;
    color: #008080;
    padding: 5px;
    cursor: pointer;
}

.buttons__button:hover {
    color: #09a5a5;
    transition: color 1s;
}

.buttons__button:active {
    color: #0ac2c2;
}

.buttons__button:disabled {
    color: #ccc;
}